.forms-users {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
}
    
.forms-users h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
    
.forms-users form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
.forms-users label {
    font-size: 18px;
    margin-bottom: 5px;
}
    
.forms-users input[type="text"],
.forms-users input[type="email"],
.forms-users input[type="password"],
.forms-users input[type="number"],
.forms-users textarea,
.forms-users select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    width: 100%;
}
    
.forms-users input[type="checkbox"] {
    margin-right: 10px;
}
    
.forms-users button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
    
.forms-users button[type="submit"]:hover {
    background-color: #45a049;
}