@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Red+Hat+Display:wght@400;600&display=swap');

.main {
  margin-top: 30px;

  &__content--container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
}

.back_image {
  width: 100%;
  position: relative;
  filter: grayscale(30%);
}

.heading--h1 {
  font-family: 'Dancing Script', serif;
  font-weight: 500;
  font-size: 50px;
  color: rgb(96, 62, 11);
  position: absolute;
  top: 55%;
  left: 25%;
  z-index: 2;
}

.section--first {
  padding: 20px;
  max-width: 700px;
  text-align: justify;
  background-color: rgba(243, 232, 205, 0.751);
  border-radius: 50px;
}

.section--second {
  max-width: 500px;
  background-color: rgba(243, 232, 205, 0.751);
  border-radius: 50px;
  padding: 20px;
}