@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Red+Hat+Display:wght@400;600&display=swap');

body {
  background-color: rgb(243, 238, 231);
}

.img__logo {
  max-width: 80px;
}

.heading--h2 {
  font-family: 'Dancing Script', serif;
  font-weight: 500;
  font-size: 40px;
  color: rgb(157, 101, 16);
  margin-top: 50px;
  text-align: center;
}

a {
  font-family: 'Dancing Script', serif;
  text-decoration: none;
  color: rgb(157, 101, 16);
  font-weight: 500;
  font-size: 25px;
  &:hover {
    color: rgb(99, 64, 10);
    scale: 1.2;
  }
}

li {
  list-style: none;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 50px;
}

.container__content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
}

