* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h5,
p,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.image-one {
  margin-top: 70px;
  max-width: 100%;
  min-width: 300px;
}

.image-secondary {
  max-width: 100%;
  min-width: 300px;
}

.mrg-top-90 {
  margin-top: 90px;
}