@use 'normalize';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;500&family=Roboto:wght@900&display=swap');

$margin0: 0 auto;
$colorlightgrey: #898F8F;
$colorgold: #FFCC00;
$colordullgray: #666;
$colorsignalblack: #333;
$stripe-margin-top: 150px;
$fontfamRoboto: 'Roboto', sans-serif;
$fontfamRaleway: 'Raleway', sans-serif;
$fontfamOpenSans: 'Open Sans', sans-serif;

@mixin angle-properties {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 340px;
  margin-left: 150px;
}

@mixin stripe-pseudo-element {
  position: absolute;
  top: 0;
  right: 0;
  width: 210px;
  height: 0px;
  border: 1px solid $colorgold;
  margin-top: $stripe-margin-top;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1170px;
  margin: $margin0;
  margin-top: 110px;
}

.section-head {
  width: 450px;
  margin: $margin0;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  &::after,
  &::before {
    content: '';
    @include stripe-pseudo-element;
  }
  &::before {
    left: 0;
  }
  &__heading-h2 {
    font-family: $fontfamRaleway;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: $colorlightgrey;
    margin: 0;
  }
  &__heading-h1 {
    font-family: $fontfamRoboto;
    font-weight: 900;
    font-size: 60px;
    line-height: 66px;
    color: $colorgold;
    margin: 15px 0 0 0;
  }
  &__svg {
    position: absolute;
    top: 145%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.section-main {
  width: 1030px;
  margin: $margin0;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  .section-main__angle {
    @include angle-properties;
  }
  .right-top-angle {
    margin-left: 440px;
    transform: rotate(90deg);
  }
  .left-botton-angle {
    margin-top: 640px;
    transform: rotate(270deg);
  }
  .right-botton-angle {
    margin-top: 640px;
    margin-left: 440px;
    transform: rotate(180deg);
  }
  &__box-image {
    position: relative;
  }

  &__box-information {
    width: 430px;
    text-align: center;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      display: block;
      height: 500px;
      margin-left: -86px;
      top: -50px;
      left: 0;
      border: 1px solid #FFCC00;
    }
    &__heading-h3 {
      font-family: $fontfamRoboto;
      font-weight: 900;
      font-size: 36px;
      line-height: 42px;
      text-transform: capitalize;
      color: $colordullgray;
      margin: 0 0 30px 0;
    }
    &__line {
      display: inline-block;
      width: 100px;
      height: 1px;
      border-bottom: 1px solid $colorgold;
    }
    &__heading-h4 {
      font-family: $fontfamRaleway;
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      text-transform: capitalize;
      color: $colordullgray;
      margin: 30px 0 30px 0;
    }
    &__paragrapher {
      font-family: $fontfamRaleway;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: $colorsignalblack;
    }
  }
  &__icons {
    width: 155px;
    margin: $margin0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__icons__background {
    width: 35px;
    height: 35px;
    background: #FFFFFF;
    border: 2px solid #CCC;
    border-radius: 30px;
    padding-top: 8px;
    padding-left: 8px;
  }
  .line-box {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 4px;
    background-color: $colorgold;
  }
  .min {
      width: 10px;
      height: 4px;
    }
  .button--primary {
    width: 118px;
    margin-top: 30px;
    padding: 5px;
    font-family: $fontfamOpenSans;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: $colordullgray;
    background-color: transparent;
    border: 1px solid $colorgold;
    cursor: pointer;
  }
}

