.heading--h3 {
  font-family: 'Dancing Script', serif;
  font-weight: 400;
  font-size: 20px;
  color: rgb(96, 62, 11);
}

.paragraph--text {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: rgb(96, 62, 11);
}