* {
  transition: all .1s ease-in;
}

body {
  font-family: 'Lucida Sans Unicode';
  color: #FFFFFF;
}

.container {
  width: 1648px;
  height: 821px;
  margin: 0 auto;
  background-color: #3399CC;
  border: 30px solid #2B81AC;
}

.heading-h3 {
  font-size: 21px;
  line-height: 25px;
  margin: 66px 0 0 240px;
}

.container-box {
  width: 1170px;
  margin: 0 auto;
  margin-top: 50px;
}

.list {
  border: 3px solid #fff;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  white-space: nowrap;
}


.list:hover li {
  opacity: 0.5; /* прозрачность для всех li внутри ul при наведении на ul */
}

.list li:hover {
  opacity: 1; /* полная непрозрачность при наведении на конкретный li */
}

.group-1,
.group-2,
.group-3,
.group-4 {
  display: inline-block;
  border: 3px solid #fff;
  height: 150px;
  font-size: 22px;
  box-sizing: border-box;
  text-align: center;
  padding-top: 26px;
}

.list-size-big {
  width: 50%;
}

.list-size-small {
  width: 25%;
}

.list-size-xl {
  width: 100%;
}

.list-color1 {
  background-color: #3399CC;
}

.list-color2 {
  background: #33CCCC;
}

.list-color3 {
  background: #996699;
}

.list-color4 {
  background: #C24747;
}

.list-color5 {
  background: #E2674A;
}

.list-color6 {
  background: #FFCC66;
}

.list-color7 {
  background: #99CC99;
}

.list-color8 {
  background: #669999;
}

.list-color9 {
  background: #CC6699;
}

.list-color10 {
  background: #339966;
}

.list-color11 {
  background: #666699;
}

.section-text-down p {
  font-size: 16px;
  line-height: 19px;
  margin: 30px 0 0 240px;
}